body{
	background-color: grey;
}
h1{
	font-size: 36px;
	text-align: center;
}
h2{
	font-size: 24px;
	text-align: center;

}
p{
	margin-left: 400px;
	margin-right: 400px;
	border-style: solid;
	border-radius: 10px;
	border-color: black;
	background-color: white;
	padding: 10px;
}