
h1{
	margin: 10px;
	text-align: center;
	color: #FFFFFF;
	font-size: 36px;
	font-family: Fixed, monospace;
	margin-bottom: 50px;
}
#info a{
	background-color: #9FCFB0;
	padding: 25px;
	border-radius: 200px;
	text-decoration: none;
	color: rgb(15, 9, 41);
	text-align: center;
}
#info p{
	text-align: center;
	margin-bottom: 50px;
}

body{
	background-image:url(under_construction.gif);
	background-repeat: no-repeat;
	background-size: cover;
}
#tufts{
	text-align: center;
	margin-bottom: 100px;
}

