p{
	color: green;
	font-size: 24px;
	text-align: center;
}
h1{
	margin: 10px;
	border-color: rgb(68, 76, 81);
	border-style: double;
	border-width: 1px;
	text-align: center;
	color: black;
	font-size: 36px;
	background-color: white;
	border-radius: 10px;
}
.info{
	margin-left: 400px;
	margin-right: 400px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-color: rgb(0, 0, 0);
	border-width: 1px;
	border-style: solid;
	padding-left: 10px;
	font-size: 24px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
}
body{
	border-style: double;
	border-width: 10px;
	border-radius: 20px;
	background-color: rgb(203, 203, 215);
}
img {
	display: block;
	margin: 0 auto;
	width: 200px;
	height: auto;
}
